@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$primary: #007cc2;
$primaryLight: #0098ce;
$secondary: #98ce1e;

$mobile: 426px;

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $primary;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.logo {
    margin: 0 auto;
    margin-top: 50px;
    width: 284px;
}
.searchLabel {
    margin: 0 auto;
    margin-top: 50px;
    font-weight: bold;
    font-size: 1.3em;
    font-style: italic;
}
.searchBar {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.searchBar div {
    width: 300px;
    margin-top: 15px;
    display: flex;
    border: solid 2px $secondary;
    border-radius: 20px;
    padding: 5px 20px;
}
.searchBar input {
    flex: 1 0 auto;
    border: none;
    font-size: 1.2em;
    font-style: italic;
}
.searchBar input:focus {
    outline: none;
}

#content {
    display: none;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}
.row {
    display: flex;
    flex-direction: row;
    width: 500px;
    margin: 0 auto;
}
.column {
    flex: .5 0 auto;
}

.data {
    font-size: 1.5em;
    margin: 0;
}
.label {
    font-size: .8em;
    font-style: italic;
    font-weight: 550;
    margin: 0;
    margin-bottom: 40px;
    color: $primaryLight;
}

#notFound {
    color: red;
    text-align: center;
    font-size: 1.5em;
    display: none;
}

//Cor do placeholder para o input
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lightgrey;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: lightgrey;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: lightgrey;
}

@media only screen and (max-width: $mobile) {
    .row {
        flex-direction: column-reverse;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin: 0 auto;
    }
    .priceColumn {
        display: none;
    }
}